<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minha Página</title>
  <link rel="stylesheet" type="text/css" href="terminalUsuario.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.google.com/specimen/Source+Sans+3" />
  <link rel="stylesheet" href="https://fonts.google.com/specimen/Cormorant+Garamond?preview.size=58&sort=popularity" />
</head>
<body>
    <div class="nome">
      <img class ="logoPagina" src="Imagens\logo branco sem fundo.png" alt="Descrição da Imagem">
    </div>

    <ul class="options">
      <div class="navBar">
      <li><a href="#" class="botao" id="servicosBtn" onclick="exibirPaginaCorreta('servico')">Comprar serviços</a></li>
      <li><a href="#" class="botao" id="gerarCartaoBtn" onclick="exibirPaginaCorreta('gerarCartao')">Gerar Cartão</a></li>
      <li><a href="#" class="botao" id="relatorioUsuarioBtn" onclick="exibirPaginaCorreta('relatorio')">Relatório</a></li>
    </div>
    </ul>
  

<div id="servico" class="conteudo visible">
  <!--Página de compra de serviços-->
    <div class="searchArea">
    <p>Digite o número do cartão: </p>
    <input type="text" placeholder="Número do cartão" name="numeroCartao" id="campoNumeroCartao" oninput="validarNumeros(this)" required>
    <button type="submit" id="btnBusca" onclick="buscarCartao('campoNumeroCartao')"><i class="fa fa-search" ></i></button>
  </div>
  <div class="card" >
    <div class="card-content">
      <img class ="imagens" src="Imagens\Botox.jfif" alt="Descrição da Imagem">
        <p class="nomesProc">Preenchimento Labial</p>
        <div class="descricao">
          <p class="desc">O preenchimento labial é um procedimento estético que visa aumentar ou resgatar o volume dos lábios de forma natural, previsível e precisa. Para obter esses resultados é preciso conhecer a anatomia dos lábios e realizar uma técnica eficaz e segura.</p>
          <p class="desc">O procedimento é feito com ácido hialurônico, que é um material preenchedor biocompatível sob anestesia, sem dor, com resultado imediato, que traz como resultado aumento do volume e hidratação do lábio.</p>
        </div>
        <button class="buttonScreen" onclick="adquirirServico()">Adquirir serviço</button>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <img class ="imagens" src="Imagens\preenchimento facial.jfif" alt="Descrição da Imagem">
        <p class="nomesProc">Preenchimento Facial</p>
        <div class="descricao">
       <p class="desc">O preenchimento facial é um procedimento estético que visa corrigir ou melhorar as imperfeições do rosto, como rugas, sulcos, linhas de expressão e perda de volume. </p>
        <p class="desc">O procedimento é realizado com ácido hialurônico, que é um material preenchedor biocompatível.</p>
        </div>
        <button class="buttonScreen" onclick="adquirirServico()">Adquirir serviço</button>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <img class ="imagens" src="Imagens\harmonização.jfif" alt="Descrição da Imagem">
        <p class="nomesProc">Harmonização Facial</p>
        <div class="descricao">
        <p class="desc">A harmonização facial é um conjunto de procedimentos estéticos que visam melhorar a harmonia do rosto, corrigindo assimetrias, realçando os traços e promovendo o rejuvenescimento.</p>
        <p class="desc">O procedimento é realizado com uma combinação de técnicas, como preenchimento facial, toxina botulínica, bioestimuladores de colágeno e fios de sustentação.</p>
        </p>
        </div>
        <button class="buttonScreen" onclick="adquirirServico()">Adquirir serviço</button>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <img class ="imagens" src="Imagens\limpeza.jfif" alt="Descrição da Imagem">
        <p class="nomesProc">Limpeza de Pele</p>
        <div class="descricao">
        <p class="desc">A limpeza de pele é um procedimento estético que visa remover as impurezas da pele, como cravos, espinhas, células mortas e excesso de oleosidade. </p>
        <p class="desc">O procedimento é realizado por um profissional qualificado, que utiliza técnicas específicas para cada tipo de pele.</p>
        </div>
        <button class="buttonScreen" onclick="adquirirServico()">Adquirir serviço</button>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <img class ="imagens" src="Imagens\micro pig" alt="Descrição da Imagem">
        <p class="nomesProc">Micropigmentação</p>
        <div class="descricao">
        <p class="desc">A micropigmentação é um procedimento estético que visa corrigir ou melhorar a aparência das sobrancelhas, lábios e olhos. </p>
          <p class="desc">O procedimento é realizado com um aparelho que deposita pigmentos na pele, de forma a criar um efeito natural.</p>
        </div>
        <button class="buttonScreen" onclick="adquirirServico()">Adquirir serviço</button>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <img class ="imagens" src="Imagens\rinoplastia_1.jpg" alt="Descrição da Imagem">
        <p class="nomesProc">Rinomodelação</p>
        <div class="descricao">
        <p class="desc">A rinomodelação é um procedimento estético que visa corrigir imperfeições do nariz sem a necessidade de cirurgia.</p>
        <p class="desc"> O procedimento é realizado com injeções de ácido hialurônico, um material preenchedor biocompatível.</p>
        </div>
        <button class="buttonScreen" onclick="adquirirServico()">Adquirir serviço</button>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <img class ="imagens" src="Imagens\depilação laser.jfif" alt="Descrição da Imagem">
        <p class="nomesProc">Depilação a Laser</p>
        <div class="descricao">
        <p class="desc">A depilação a laser é um procedimento estético que visa remover os pelos de forma permanente. </p>
        <p class="desc">O procedimento é realizado com um aparelho que emite uma luz intensa, que é absorvida pela melanina do pelo, levando à sua destruição.</p>
        </div>
        <button class="buttonScreen" onclick="adquirirServico()">Adquirir serviço</button>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <img class ="imagens" src="Imagens\manicure.jfif" alt="Descrição da Imagem">
        <p class="nomesProc">Manicure</p>
        <div class="descricao">
        <p class="desc">A manicure é um serviço de beleza que visa cuidar das mãos e unhas. </p>
        <p class="desc">O procedimento inclui a limpeza, corte, lixamento e esmaltação das unhas, além da hidratação das mãos e cutículas.
        </p>
        </div>
        <button class="buttonScreen" onclick="adquirirServico()">Adquirir serviço</button>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <img class ="imagens" src="Imagens\pedicure.jfif" alt="Descrição da Imagem">
        <p class="nomesProc">Pedicure</p>
        <div class="descricao">
        <p class="desc">O pedicure é um serviço de beleza que visa cuidar dos pés e unhas.</p>
        <p class="desc">O procedimento inclui a limpeza, corte, lixamento e esmaltação das unhas, além da hidratação dos pés e cutículas. 
        </p>
        </div>
        <button class="buttonScreen" onclick="adquirirServico()">Adquirir serviço</button>
    </div>
  </div>
  <!---->
  <div class="card">
    <div class="card-content">
      <img class ="imagens" src="Imagens\Kit Manicure.png" alt="Descrição da Imagem">
        <p class="nomesProc">Kit Manicure</p>
        <div class="descricao">
        <p class="desc">O Kit Manicure equivale a 6 sessões de manicure!!</p>
        <p class="desc">O procedimento inclui a limpeza, corte, lixamento e esmaltação das unhas, além da hidratação dos pés e cutículas. 
        </p>
        </div>
        <button class="buttonScreen" onclick="adquirirServico()">Adquirir serviço</button>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <img class ="imagens" src="Imagens\Kit Pedicure.png" alt="Descrição da Imagem">
        <p class="nomesProc">Kit Pedicure</p>
        <div class="descricao">
        <p class="desc">O pedicure é um serviço de beleza que visa cuidar dos pés e unhas.</p>
        <p class="desc">O procedimento inclui a limpeza, corte, lixamento e esmaltação das unhas, além da hidratação dos pés e cutículas. 
        </p>
        </div>
        <button class="buttonScreen" onclick="adquirirServico()">Adquirir serviço</button>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <img class ="imagens" src="Imagens\Kit Limpeza de Pele.png" alt="Descrição da Imagem">
        <p class="nomesProc">Kit Limpeza de Pele</p>
        <div class="descricao">
        <p class="desc">O pedicure é um serviço de beleza que visa cuidar dos pés e unhas.</p>
        <p class="desc">O procedimento inclui a limpeza, corte, lixamento e esmaltação das unhas, além da hidratação dos pés e cutículas. 
        </p>
        </div>
        <button class="buttonScreen" onclick="adquirirServico()">Adquirir serviço</button>
    </div>
  </div>
  <div id="divBtnFinalizar"><button id="bntFinalizar" onclick="finalizarCompra(listaServicos)">Finalizar!</button></div>
  <div class="rodape"></div>
  
</div>

<div id="gerarCartao" class="conteudo">
  <!--<p class="nomesProc">Página de Gerar cartão</p>-->
  <div class="divFormGerarCartao">
    <form class="formGerarCartao">
      <div class="textCenter"><p class="nomesProc">Você já possui um cartão?</p>
      <!--<input type="submit" value="Enviar">-->
      <div>
        <button class="buttonScreenGerarCartao" id="btnVoltarPagServicos" onclick="exibirPaginaCorreta('servico')">Já possuo</button>
      </div>
      <div>
        <button class="buttonScreenGerarCartao" id="btnGerarCartao" onclick="gerarCartao('cartao')">Gerar Cartão</button>
      </div>
    </div>
    </form>
  </div>
  <div class="rodape"></div>
  <div class="rodape"></div>

 </div>

<div id="cartao" class="conteudo">
  <div id="imgCartao">
    <div id="numeroCartao"> {Numero cartão}</div>
    <p class="tituloCartao">CLÍNICA SAPPHIRE</p>
    <div id="logo"> 
      <img class ="logoCartao" src="Imagens\logo.png" alt="Descrição da Imagem">
    </div>
    <p id="obs">Obs: é importante que você lembre o número do seu cartão para adquirir os serviços em seu próximo retorno.</p>
  </div>  
  <div class="rodape"></div>
  <div class="rodape"></div>
  <div class="rodape"></div>
</div>

<div id="relatorio" class="conteudo">
  <p class="nomesProc">Página de Relatório</p>
</div>

<script src="terminalUsuario.js"></script>
</body>
</html>
