<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minha Página</title>
  <link rel="stylesheet" type="text/css" href="terminalUsuario.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="nome">
      <img class ="logoPagina" src="C:\Meus arquivos\Pucc\2º Semestre 2023\PI2\Layout\Imagens\logo.png" alt="Descrição da Imagem">
    </div>

    <ul class="options">
      <div class="navBar">
      <li><a href="#" class="botao" id="servicosBtn" onclick="exibirPaginaCorreta('servico')">Comprar serviços</a></li>
      <li><a href="#" class="botao" id="gerarCartaoBtn" onclick="exibirPaginaCorreta('gerarCartao')">Gerar Cartão</a></li>
      <li><a href="#" class="botao" id="relatorioUsuarioBtn" onclick="exibirPaginaCorreta('relatorio')">Relatório</a></li>
    </div>
    </ul>
  

<div id="servico" class="conteudo visible">
  <!--Página de compra de serviços-->
  <form class="searchArea" >
    <p>Digite o número do cartão: </p>
    <input type="text" placeholder="Número do cartão" name="numeroCartao" id="campoNumeroCartao" oninput="validarNumeros(this)">
    <button type="submit" id="btnBusca"><i class="fa fa-search"></i></button>
  </form>

  <div class="card" >
    <div class="card-content">
      <img class ="imagens" src="C:\Meus arquivos\Pucc\2º Semestre 2023\PI2\Layout\Imagens\Botox.jfif" alt="Descrição da Imagem">
        <h2>Preenchimento Labial</h2>
        <div class="descricao">
          <p>O preenchimento labial é um procedimento estético que visa aumentar ou resgatar o volume dos lábios de forma natural, previsível e precisa. Para obter esses resultados é preciso conhecer a anatomia dos lábios e realizar uma técnica eficaz e segura.</p>
          <p>O procedimento é feito com ácido hialurônico, que é um material preenchedor biocompatível sob anestesia, sem dor, com resultado imediato, que traz como resultado aumento do volume e hidratação do lábio.</p>
        </div>
        <button class="buttonScreen" onclick="adquirirServico()">Adquirir serviço</button>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <img class ="imagens" src="C:\Meus arquivos\Pucc\2º Semestre 2023\PI2\Layout\Imagens\preenchimento facial.jfif" alt="Descrição da Imagem">
        <h2>Preenchimento Facial</h2>
        <div class="descricao">
       <p>O preenchimento facial é um procedimento estético que visa corrigir ou melhorar as imperfeições do rosto, como rugas, sulcos, linhas de expressão e perda de volume. </p>
        <p>O procedimento é realizado com ácido hialurônico, que é um material preenchedor biocompatível.</p>
        </div>
        <button class="buttonScreen" onclick="adquirirServico()">Adquirir serviço</button>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <img class ="imagens" src="C:\Meus arquivos\Pucc\2º Semestre 2023\PI2\Layout\Imagens\harmonização.jfif" alt="Descrição da Imagem">
        <h2>Harmonização Facial</h2>
        <div class="descricao">
        <p>A harmonização facial é um conjunto de procedimentos estéticos que visam melhorar a harmonia do rosto, corrigindo assimetrias, realçando os traços e promovendo o rejuvenescimento.</p>
        <p>O procedimento é realizado com uma combinação de técnicas, como preenchimento facial, toxina botulínica, bioestimuladores de colágeno e fios de sustentação.</p>
        </p>
        </div>
        <button class="buttonScreen" onclick="adquirirServico()">Adquirir serviço</button>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <img class ="imagens" src="C:\Meus arquivos\Pucc\2º Semestre 2023\PI2\Layout\Imagens\limpeza.jfif" alt="Descrição da Imagem">
        <h2>Limpeza de Pele</h2>
        <div class="descricao">
        <p>A limpeza de pele é um procedimento estético que visa remover as impurezas da pele, como cravos, espinhas, células mortas e excesso de oleosidade. </p>
        <p>O procedimento é realizado por um profissional qualificado, que utiliza técnicas específicas para cada tipo de pele.</p>
        </div>
        <button class="buttonScreen" onclick="adquirirServico()">Adquirir serviço</button>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <img class ="imagens" src="C:\Meus arquivos\Pucc\2º Semestre 2023\PI2\Layout\Imagens\micro pig" alt="Descrição da Imagem">
        <h2>Micropigmentação</h2>
        <div class="descricao">
        <p>A micropigmentação é um procedimento estético que visa corrigir ou melhorar a aparência das sobrancelhas, lábios e olhos. </p>
          <p>O procedimento é realizado com um aparelho que deposita pigmentos na pele, de forma a criar um efeito natural.</p>
        </div>
        <button class="buttonScreen" onclick="adquirirServico()">Adquirir serviço</button>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <img class ="imagens" src="C:\Meus arquivos\Pucc\2º Semestre 2023\PI2\Layout\Imagens\rinoplastia_1.jpg" alt="Descrição da Imagem">
        <h2>Rinomodelação</h2>
        <div class="descricao">
        <p>A rinomodelação é um procedimento estético que visa corrigir imperfeições do nariz sem a necessidade de cirurgia.</p>
        <p> O procedimento é realizado com injeções de ácido hialurônico, um material preenchedor biocompatível.</p>
        </div>
        <button class="buttonScreen" onclick="adquirirServico()">Adquirir serviço</button>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <img class ="imagens" src="C:\Meus arquivos\Pucc\2º Semestre 2023\PI2\Layout\Imagens\depilação laser.jfif" alt="Descrição da Imagem">
        <h2>Depilação a Laser</h2>
        <div class="descricao">
        <p>A depilação a laser é um procedimento estético que visa remover os pelos de forma permanente. </p>
        <p>O procedimento é realizado com um aparelho que emite uma luz intensa, que é absorvida pela melanina do pelo, levando à sua destruição.</p>
        </div>
        <button class="buttonScreen" onclick="adquirirServico()">Adquirir serviço</button>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <img class ="imagens" src="C:\Meus arquivos\Pucc\2º Semestre 2023\PI2\Layout\Imagens\manicure.jfif" alt="Descrição da Imagem">
        <h2>Manicure</h2>
        <div class="descricao">
        <p>A manicure é um serviço de beleza que visa cuidar das mãos e unhas. </p>
        <p>O procedimento inclui a limpeza, corte, lixamento e esmaltação das unhas, além da hidratação das mãos e cutículas.
        </p>
        </div>
        <button class="buttonScreen" onclick="adquirirServico()">Adquirir serviço</button>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <img class ="imagens" src="C:\Meus arquivos\Pucc\2º Semestre 2023\PI2\Layout\Imagens\pedicure.jfif" alt="Descrição da Imagem">
        <h2>Pedicure</h2>
        <div class="descricao">
        <p>O pedicure é um serviço de beleza que visa cuidar dos pés e unhas.</p>
        <p>O procedimento inclui a limpeza, corte, lixamento e esmaltação das unhas, além da hidratação dos pés e cutículas. 
        </p>
        </div>
        <button class="buttonScreen" onclick="adquirirServico()">Adquirir serviço</button>
    </div>
  </div>

  <div class="rodape"></div>
  
</div>

<div id="gerarCartao" class="conteudo">
  <!--<h2>Página de Gerar cartão</h2>-->
  <div class="divFormGerarCartao">
    <form class="formGerarCartao">
      <div class="textCenter"><h2>Você já possui um cartão?</h2>
      <!--<input type="submit" value="Enviar">-->
      <div>
        <button class="buttonScreenGerarCartao" id="btnVoltarPagServicos" onclick="exibirPaginaCorreta('servico')">Já possuo</button>
      </div>
      <div>
        <button class="buttonScreenGerarCartao" id="btnGerarCartao" onclick="gerarCartao('cartao')">Gerar Cartão</button>
      </div>
    </div>
    </form>
  </div>
 </div>

<div id="cartao" class="conteudo">
  <div id="imgCartao">
    <div id="numeroCartao"> {Numero cartão}</div>
    <p class="tituloCartao">CLÍNICA SAPPHIRE</p>
    <div id="logo"> 
      <img class ="logoCartao" src="C:\Meus arquivos\Pucc\2º Semestre 2023\PI2\Layout\Imagens\logo.png" alt="Descrição da Imagem">
    </div>
  </div>  
  <div class="rodape"></div>
</div>

<div id="relatorio" class="conteudo">
  <h2>Página de Relatório</h2>
</div>

<script src="terminalUsuario.js"></script>
</body>
</html>
