<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minha Página</title>
  <link rel="stylesheet" type="text/css" href="terminalPrestadorServicos.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.google.com/specimen/Source+Sans+3" />
  <link rel="stylesheet" href="https://fonts.google.com/specimen/Cormorant+Garamond?preview.size=58&sort=popularity" />
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <div class="nome">
      <img class ="logoPagina" src="Imagens\logo branco sem fundo.png" alt="Descrição da Imagem">
    </div>

    <ul class="options">
      <div class="navBar">
      <li><a href="#" class="botao" id="usoServicosBtn" onclick="exibirPaginaCorreta('usoServicos')">Utilização de serviços</a></li>
    </div>
    </ul>

  <div id="usoServicos" class="conteudo visible">
   
    <div class="searchArea">
      <p id="digiteNumero">Digite o número do cartão: </p>
      <input type="text" placeholder="Número do cartão" name="numeroCartao" id="campoNumeroCartao" oninput="validarNumeros(this)" required>
      <button type="submit" id="btnBusca"><i class="fa fa-search" ></i></button>
      <div id="cartaoExiste"></div>
    </div>
    <div class="textoServicosERecompensas">Serviços:</div>
    <div id="listaServicosUso">
    <div id="divContainer">
            </div>
  </div>
    <div class="rodape"></div>
    <div class="textoServicosERecompensas">Recompensas:</div>

<!--
  <div class="selecaoDeServicos">
    <label for="opcoes" id="textoEscolaOpcao">Escolha uma opção:</label>
    <div id="searchAreaServico">
      <select id="opcoes" name="opcoes">
        <option value="opcao0"></option>
        <option value="opcao1">Preenchimento Labial</option>
        <option value="opcao2">Preenchimento Facial</option>
        <option value="opcao3">Harmonização Facial</option>
        <option value="opcao3">Limpeza de Pele</option>
        <option value="opcao3">Micropigmentação</option>
        <option value="opcao3">Rinomodelação</option>
        <option value="opcao3">Depilação Laser</option>
        <option value="opcao3">Manicure</option>
        <option value="opcao3">Pedicure</option>
        <option value="opcao3">Kit Manicure</option>
        <option value="opcao3">Kit Pedicure</option>
        <option value="opcao3">Kit Limpeza de Pele</option>
    </select>
    </div>
  </div>-->
  <div class="rodape"></div>
  <div class="rodape"></div>
  </div>
<script src="terminalPrestadorServicos.js"></script>
</body>
</html>
