<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minha Página</title>
  <link rel="stylesheet" type="text/css" href="terminalPrestadorServicos.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.google.com/specimen/Source+Sans+3" />
  <link rel="stylesheet" href="https://fonts.google.com/specimen/Cormorant+Garamond?preview.size=58&sort=popularity" />
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <div class="nome">
      <img class ="logoPagina" src="Imagens\logo branco sem fundo.png" alt="Descrição da Imagem">
    </div>

    <ul class="options">
      <div class="navBar">
      <li><a href="#" class="botao" id="usoServicosBtn" onclick="exibirPaginaCorreta('usoServicos')">Utilização de serviços</a></li>
    </div>
    </ul>

    <div class="divAviso">
      ATENÇÃO: Não se esqueça de finalizar a sessão depois de escolher todos os serviços que vão ser adquiridos!! 
    </div>

  <div id="usoServicos" class="conteudo visible">
   
    <div class="searchArea">
      <p id="digiteNumero">Digite o número do cartão: </p>
      <input type="text" placeholder="Número do cartão" name="numeroCartao" id="campoNumeroCartao" oninput="validarNumeros(this)" required>
      <button type="submit" id="btnBusca"><i class="fa fa-search" ></i></button>
      <div id="cartaoExiste"></div>
    </div>
    <div id="listaServicosUso">
    <div id="divContainer">
            </div>
  </div>
    <div class="rodape"></div>
  <div class="rodape"></div>
  <div class="rodape"></div>
  </div>
<script src="terminalPrestadorServicos.js"></script>
</body>
</html>
